/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  font-family: 'Chewy', cursive;
  color:white;
  background-image: url('/images/souvenir.jpg');
}

h1, h2, h3, h4, .btn {
  font-family: 'Chewy', cursive;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

#partnership {
  font-size: 10px;
  font-style: italic;
}

.myform {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.formula1 {
  margin-right: 10%;
  margin-bottom: 20px;
}

.suggestions {
  float: left;
  width: 300px;
  min-height: 300px;
  margin-left: 2em;
  margin-bottom: 2em;
}

.after-box {
  clear: left;
}

#filter {
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}

.img-thumbnail  {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  margin-left: 5px; margin-right: 5px;
}

.img-thumbnail:active {
  background: rgba(42,32,157,.99);
}

#suggestion-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#results-button {
  margin-left: 15px;
}

#suggestion-text {
  text-align: justify;
  padding-right: 30px;
}

#suggestion-image {
  width: 80%;
}

#give-me-more {
  font-size: 16px;
}