/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.jumbotron {
  font-family: 'Chewy', cursive;
  color:white;
  background-image: url('/images/souvenir.jpg');
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

#partnership {
  font-size: 10px;
  font-style: italic;
}

.myform {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.formula1 {
  margin-right: 10%;
  margin-bottom: 20px;
}

.suggestions {
  float: left;
  width: 300px;
  min-height: 300px;
  margin-left: 2em;
  margin-bottom: 2em;
}

.after-box {
  clear: left;
}

#filter {
  margin-bottom: 20px;
  width: 50%;
  text-align: center;
}