     <div ng-controller="summerController as controller">

      <form name="myForm">

        <div ng-controller="CountryDropdownController as dropdown_cc">
          <label for="country"> Country: </label>
          <select name="dropdown_cc.Dropdown.country_options" id="country" ng-model="dropdown_cc.Dropdown.selected_country" ng-change="controller.update()" ng-options="obj.id as obj.name for obj in dropdown_cc.Dropdown.country_options">
          </select>
        </div>

        <div ng-controller="CategoriesDropdownController as dropdown_categories">
          <label for="categories"> Categories: </label>
          <select name="dropdown_categories.Dropdown.categories_options" id="categories" ng-model="dropdown_categories.Dropdown.selected_categories" ng-change="controller.update()" ng-options="obj.id as obj.name for obj in dropdown_categories.Dropdown.categories_options" multiple>
          </select>
        </div>

        Location:
        <input ng-change="controller.update()" type="text" ng-model="controller.location" required><br/>
        
        <p ng-show="controller.location">
          Forecast  weather: {{controller.main.temp}}°C {{controller.description}}
        </p>
        <br/>

        Find:
        <input ng-change="controller.update()" type="text" ng-model="controller.term">
        in a Radius of (Km):
        <input ng-change="controller.update()" type="text" ng-model="controller.radius_filter">

        <span ng-controller="SortDropdownController as dropdown_sort">
          <label for="sort"> Sort by: </label>
          <select name="dropdown_sort.Dropdown.sort_options" id="sort" ng-model="dropdown_sort.Dropdown.selected_sort" ng-change="controller.update()" ng-options="obj.id as obj.name for obj in dropdown_sort.Dropdown.sort_options">
          </select>
        </span>

        <input type="submit" ng-click="controller.buildQuery()" value="Search">
      </form>

      <hr>

      <div id="results" ng-show="controller.result">
        <label>Filter Results: <input ng-model="searchText"></label>

        <button ng-click="controller.doSort()">Reverse</button>

        <p ng-repeat="data in controller.result | filter:searchText">
          {{data.name}}
          <img src="{{data.rating_img_url}}"><br>
          <a href="{{data.url}}" target="_blank">Yelp info</a><br>
          {{data.phone}}<br>
          {{data.snippet_text}}<br>
          <img src="{{data.image_url}}"><br>
        </p>
      </div>
    </div>

